<nav id="navbar-main" class="navbar is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item is-hidden-desktop jb-aside-mobile-toggle">
        <span class="icon"><i class="fa-solid fa-bars"></i></span>
      </a>
    
      <img src="../../assets/images/logo.png" class="logo">
      <div class="navbar-item has-control">
        <div class="control">แผงจัดการระบบหอพัก <br><p class="logo_text">วิทยาลัยอาชีวศึกษาเทคโนโลยีฐานวิทยาศาสตร์ (ชลบุรี)</p></div>
      </div>
    
    </div>
    
  <!-- 
    <div class="navbar-brand is-right">
      <a class="navbar-item is-hidden-desktop jb-navbar-menu-toggle" data-target="navbar-menu">
        <span class="icon"><i class="mdi mdi-dots-vertical"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
      </a>                                                         
    </div>
    
    <div class="navbar-menu fadeIn animated faster" id="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown has-dropdown-with-icons has-divider is-hoverable">
          <a class="navbar-link is-arrowless">
            <span class="icon"><i class="fa-solid fa-bars"></i></span>
            <span>Menu &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
            <span class="icon">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </a>
          <div class="navbar-dropdown">
              <hr class="navbar-divider">
              <a class="navbar-item" href="/dorm/admin/logout">
                <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                <span>Log Out</span>
              </a>
          </div>
        </div>
    
        <a title="Log out" class="navbar-item is-desktop-icon-only">
          <span class="icon"><i class="mdi mdi-logout"></i></span>
          <span>Log out</span>
        </a> 
      </div>
    </div> 
  -->
</nav>