<aside class="aside is-placed-left is-expanded">
    <!--
    <div class="aside-tools">
        <div class="aside-tools-label">
        <span><b>Admin</b> One HTML</span>
        </div>
    </div>
    -->
    <div class="menu is-menu-main">
        <!-- Home menu -->
        <p class="menu-label">เมนูหลัก</p>
        <ul class="menu-list">
            <li>
                <a href="/p/overview" class="has-icon">
                    <span class="icon"><i class="fa-solid fa-globe"></i></span>
                    <span class="menu-item-label">ภาพรวม</span>
                </a>
            </li>
        </ul>
        <!-- Home menu -->
        <!-- Form menu -->
        <p class="menu-label">เมนูจัดการเเบบฟอร์ม</p>
        <ul class="menu-list">
            <li>
                <a class="has-icon has-dropdown-icon">
                    <span class="icon"><i class="fa-solid fa-bars"></i></span>
                    <span class="menu-item-label">ฟอร์มในระบบ</span>
                    <div class="dropdown-icon">
                        <span class="icon"><i class="fa-solid fa-chevron-down"></i></span>
                    </div>
                </a>
                <ul>
                    <li>
                        <a href="/p/view-all-form">
                            <span class="icon"><i class="fa-solid fa-file"></i></span> เเสดงฟอร์มทั้งหมด
                        </a>
                    </li>
                    <li>
                        <a href="/p/manage-form">
                            <span class="icon"><i class="fa-solid fa-file-pen"></i></span> เเก้ไขเเบบฟอร์ม
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/p/manage-allow" class="has-icon">
                    <span class="icon"><i class="fa-solid fa-file-circle-question"></i></span>
                    <span class="menu-item-label">การให้อณุญาติ</span>
                </a>
            </li>
        </ul>
        <!-- Form menu -->
        <!-- User management -->
        <p class="menu-label">เมนูจัดการผู้ใช้</p>
        <ul class="menu-list">
            <li>
                <a class="has-icon has-dropdown-icon">
                    <span class="icon"><i class="fa-solid fa-bars"></i></span>
                    <span class="menu-item-label">เเสดงผู้ใช้ทั้งหมด</span>
                    <div class="dropdown-icon">
                        <span class="icon"><i class="fa-solid fa-chevron-down"></i></span>
                    </div>
                </a>
                <ul>
                    <li>
                        <a href="/p/users?branch=INFORMATION_TECHNOLOGY">
                        <span class="icon"><i class="fa-solid fa-user"></i></span> เทคโนโลยีสารสนเทศ
                        </a>
                    </li>
                    <li>
                        <a href="/p/users?branch=ELECTRICAL_TECHNOLOGY">
                            <span class="icon"><i class="fa-solid fa-user"></i></span> เทคโนโลยีไฟฟ้า
                        </a>
                    </li>
                    <li>
                        <a href="/p/users?branch=ELECTRONIC">
                            <span class="icon"><i class="fa-solid fa-user"></i></span> อิดล็กทรอนิกส์
                        </a>
                    </li>
                    <li>
                        <a href="/p/users?branch=MECHATRONIC">
                            <span class="icon"><i class="fa-solid fa-user"></i></span> เมคคาทรอนิกส์
                        </a>
                    </li>
                    <li>
                        <a href="/p/users?branch=PREMIUM">
                            <span class="icon"><i class="fa-solid fa-user"></i></span> พรีเมียม
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/p/manage-user" class="has-icon">
                    <span class="icon"><i class="fa-solid fa-user-gear"></i></span>
                    <span class="menu-item-label">จัดการผู้ใช้</span>
                </a>
            </li>
        </ul>
        <!-- User management -->        
        <!-- Login / Logout -->
        <p class="menu-label">เข้าสู่ระบบ / ออกจากระบบ</p>
        <ul class="menu-list">
            <% if(!session.is_login){ %>
            <li>
                <a href="/p/login" class="has-icon">
                <span class="icon"><i class="fa-solid fa-right-to-bracket"></i></span>
                <span class="menu-item-label">เข้าสู่ระบบ</span>
                </a>
            </li>
            <% } else { %>
            <li>
                <a href="#!" id="logout_btn" class="has-icon">
                <span class="icon"><i class="fa-solid fa-right-to-bracket"></i></span>
                <span class="menu-item-label">ออกจากระบบ</span>
                </a>
            </li>
            <% } %>
        </ul>
        <!-- Login / Logout -->
    </div>
</aside>
  
  
  <!-- Submenu
  <li>
          <a class="has-icon has-dropdown-icon">
            <span class="icon"><i class="mdi mdi-view-list"></i></span>
            <span class="menu-item-label">Submenus</span>
            <div class="dropdown-icon">
              <span class="icon"><i class="mdi mdi-plus"></i></span>
            </div>
          </a>
          <ul>
            <li>
              <a href="#void">
                <span>Sub-item One</span>
              </a>
            </li>
            <li>
              <a href="#void">
                <span>Sub-item Two</span>
              </a>
            </li>
          </ul>
        </li>
  -->


<!--  Logout script -->
<% if(session.is_login){ %>
    <script>
        const button_logout_button = document.getElementById("logout_btn");
        button_logout_button.addEventListener("click", () =>{
            swal({
                title: "ต้องการจะออกจากระบบหรือไม่",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((ok) =>{
                if(ok){
                    axios.post("/api/admin/login/remove_login").then(response =>{
                        if(response.data.status === "SUCCESS"){
                            swal({
                                title: "ออกจากระบบ สำเร็จ",
                                text: "คลิก OK เพื่อ รีโหลดหน้านี้",
                                icon: "success",
                            })
                            .then(() => {
                                window.location.reload();
                            });
                        }
                        else {
                            swal({
                                title: "เกิดบางอย่างผิดพลาด",
                                text: "โปรดลองใหมในภายหลัง",
                                icon: "error",
                            })
                            .then(() => {
                                window.location.reload();
                            });
                        }
                    });
                } 
            });
        });
    </script>
<% } %>