
<section class="section is-main-section">
    <!-- card -->
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="card tile is-child">
            <div class="card-content">
                <div class="level is-mobile">
                <div class="level-item">
                    <div class="is-widget-label"><h3 class="subtitle is-spaced">
                        ข้อมูลนักเรียนทั้งหมด
                    </h3>
                    <h1 class="title">
                        <span id="card_student_count"></span> คน
                    </h1>
                    </div>
                </div>
                <div class="level-item has-widget-icon">
                    <div class="is-widget-icon"><span class="icon has-text-primary is-large">
                        <i class="fa-solid fa-user-group fa-3x"></i></span>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="card tile is-child">
            <div class="card-content">
                <div class="level is-mobile">
                <div class="level-item">
                    <div class="is-widget-label"><h3 class="subtitle is-spaced">
                        กำลัง Login อยู่
                    </h3>
                    <h1 class="title">
                        <span id="card_current_login"></span> คน
                    </h1>
                    </div>
                </div>
                <div class="level-item has-widget-icon">
                    <div class="is-widget-icon"><span class="icon has-text-dark is-large">
                    <i class="fa-solid fa-server fa-3x"></i>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------------------------->
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="card tile is-child">
            <div class="card-content">
                <div class="level is-mobile">
                <div class="level-item">
                    <div class="is-widget-label"><h3 class="subtitle is-spaced">
                        เทคโนโลยีสารสนเทศ
                    </h3>
                    <h1 class="title">
                        <span id="card_student_information_technology"></span> คน<!-- Filter เอาเฉพาะ IT -->
                    </h1>
                    </div>
                </div>
                <div class="level-item has-widget-icon">
                    <div class="is-widget-icon"><span class="icon has-text-link is-large">
                        <i class="fa-solid fa-user fa-3x"></i></span>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="card tile is-child">
            <div class="card-content">
                <div class="level is-mobile">
                <div class="level-item">
                    <div class="is-widget-label"><h3 class="subtitle is-spaced">
                        เทคโนโลยีไฟฟ้า
                    </h3>
                    <h1 class="title">
                        <span id="card_student_electrical_technology"></span> คน <!-- Filter เอาเฉพาะ ไฟฟ้า -->
                    </h1>
                    </div>
                </div>
                <div class="level-item has-widget-icon">
                    <div class="is-widget-icon"><span class="icon has-text-link is-large">
                        <i class="fa-solid fa-user fa-3x"></i></span>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="card tile is-child">
            <div class="card-content">
                <div class="level is-mobile">
                <div class="level-item">
                    <div class="is-widget-label"><h3 class="subtitle is-spaced">
                        อิเล็กทรอนิกส์
                    </h3>
                    <h1 class="title">
                        <span id="card_student_electronic"></span> คน <!-- Filter เอาเฉพาะ อิดล็กทรอนิกส์ -->
                    </h1>
                    </div>
                </div>
                <div class="level-item has-widget-icon">
                    <div class="is-widget-icon"><span class="icon has-text-link is-large">
                        <i class="fa-solid fa-user fa-3x"></i></span>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="card tile is-child">
            <div class="card-content">
                <div class="level is-mobile">
                <div class="level-item">
                    <div class="is-widget-label"><h3 class="subtitle is-spaced">
                        เมคคาทรอนิกส์
                    </h3>
                    <h1 class="title">
                        <span id="card_student_mechatronic"></span> คน <!-- Filter เอาเฉพาะ เมคคาทรอนิกส์ -->
                    </h1>
                    </div>
                </div>
                <div class="level-item has-widget-icon">
                    <div class="is-widget-icon"><span class="icon has-text-link is-large">
                        <i class="fa-solid fa-user fa-3x"></i></span>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="card tile is-child">
            <div class="card-content">
                <div class="level is-mobile">
                <div class="level-item">
                    <div class="is-widget-label"><h3 class="subtitle is-spaced">
                        พรีเมียม
                    </h3>
                    <h1 class="title">
                        <span id="card_student_premium"></span> คน <!-- Filter เอาเฉพาะ พรีเมียม -->
                    </h1>
                    </div>
                </div>
                <div class="level-item has-widget-icon">
                    <div class="is-widget-icon"><span class="icon has-text-link is-large">
                        <i class="fa-solid fa-user fa-3x"></i></span>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------------------------->
    <hr>
    <!------------------------------------------------------------------------------------------->
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="card tile is-child">
            <div class="card-content">
                <div class="level is-mobile">
                <div class="level-item">
                    <div class="is-widget-label"><h3 class="subtitle is-spaced">
                        ฟอร์มออกหอในระบบทั้งหมด
                    </h3>
                    <h1 class="title">
                        <span id="card_current_form_count"></span> เเบบฟอร์ม
                    </h1>
                    </div>
                </div>
                <div class="level-item has-widget-icon">
                    <div class="is-widget-icon"><span class="icon has-text-success is-large">
                        <i class="fa-solid fa-file-lines fa-3x"></i></span>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="card tile is-child">
            <div class="card-content">
                <div class="level is-mobile">
                <div class="level-item">
                    <div class="is-widget-label"><h3 class="subtitle is-spaced">
                        ยังไม่ได้ยืนยันสถานที่ (ออก)
                    </h3>
                    <h1 class="title">
                        <span id="card_not_out_auth_count"></span> เเบบฟอร์ม
                    </h1>
                    </div>
                </div>
                <div class="level-item has-widget-icon">
                    <div class="is-widget-icon"><span class="icon has-text-warning is-large">
                        <i class="fa-solid fa-file-arrow-up fa-3x"></i></span>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="card tile is-child">
            <div class="card-content">
                <div class="level is-mobile">
                <div class="level-item">
                    <div class="is-widget-label"><h3 class="subtitle is-spaced">
                        ยังไม่ได้อนุมัติ
                    </h3>
                    <h1 class="title">
                        <span id="card_not_allow_count"></span> เเบบฟอร์ม
                    </h1>
                    </div>
                </div>
                <div class="level-item has-widget-icon">
                    <div class="is-widget-icon"><span class="icon has-text-warning is-large">
                        <i class="fa-solid fa-file-circle-question fa-3x"></i></span>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="card tile is-child">
            <div class="card-content">
                <div class="level is-mobile">
                <div class="level-item">
                    <div class="is-widget-label"><h3 class="subtitle is-spaced">
                        ยังไม่ได้ยืนยันสถานที่ (เข้า)
                    </h3>
                    <h1 class="title">
                        <span id="card_not_in_auth_count"></span> เเบบฟอร์ม
                    </h1>
                    </div>
                </div>
                <div class="level-item has-widget-icon">
                    <div class="is-widget-icon"><span class="icon has-text-warning is-large">
                        <i class="fa-solid fa-file-arrow-down fa-3x"></i></span>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="card tile is-child">
            <div class="card-content">
                <div class="level is-mobile">
                <div class="level-item">
                    <div class="is-widget-label"><h3 class="subtitle is-spaced">
                        ยังไม่ส่งฟอร์มเข้า
                    </h3>
                    <h1 class="title">
                        <span id="card_not_backin_count"></span> เเบบฟอร์ม
                    </h1>
                    </div>
                </div>
                <div class="level-item has-widget-icon">
                    <div class="is-widget-icon"><span class="icon has-text-warning is-large">
                        <i class="fa-solid fa-file-circle-exclamation fa-3x"></i></span>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    
    <!------------------------------------------------------------------------------------------->
    <hr>
    <!------------------------------------------------------------------------------------------->
</section>


<script src="../js/overview_page.js"></script>